<label class="{{labelClass}}">{{label}}
  <input
    type="{{type}}"
    id="{{id}}"
    name="{{name}}"
    class="{{inputClass}}"
    placeholder="{{placeholder}}"
    required="{{required}}"
  />
  <span class="{{errorClass}}">{{error}}</span>
</label>
